.pure-g [class*="pure-u"] {
    font-family: 'Noto Sans', 'Noto Sans S Chinese', "宋体", arial, sans;
}

a {
    color: #bebebe;
    text-decoration: none;
}
.post-excerpt a,
.post-content a {
    color: #eeeeee;
    font-size: 120%;
}
.post-excerpt a:hover,
.post-excerpt a:focus,
.post-content a:hover,
.post-content a:focus
{
    text-decoration: underline;
}

body {
    color: #bebebe;
    background: black;
    font-size: 115%;
    line-height: 160%;
}

.sidebar {
    background-color: #111111;
}

.post {
    background-color: #202020;
    margin: 2em 0 0;
}
.post-header {
    padding: 0.2em 0 0;
}
.post-title {
    font-size: 150%;
    color: #eeeeee;
}
.post-meta {
    color: #aeaeae;
    font-size: 100%;
}
.post-excerpt, .post-content {
    padding: 0 0.5em 0;
}
.post-meta-index {
    background-color: #1b1b1b;
    padding: 0.5em 1em 0.5em;
}

.h1 { font-size: 250%; }
.h2 { font-size: 210%; }
.h3 { font-size: 160%; }
.h4 { font-size: 130%; }
.h5 { font-size: 125%; }
.h6 { font-size: 120%; }

@media (min-width: 48em) {
    .index-content {
        margin-left: 25%;
    }
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .post {
        margin: 3em 6em 0;
    }
    .post-header {
        padding: 1em 2em 0;
    }
    .post-meta {
        padding: 0 4em 0;
    }
    .post-excerpt, .post-content {
        padding: 1em 4em 1em;
    }
    .post-meta-index {
        padding: 2em 4em 2em;
    }
}

@media (min-width: 64em) {
    .index-content {
        margin-left: 20%;
    }
}

@media (min-width: 80em) {
    .index-content {
        margin-left: 16.7%;
    }
}
